{% extends "header.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<h1>Add Your Profile</h1>
<div  class="overflow-auto">
    <form action="/add" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email"  pattern="[^ @]*@[^ @]*">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="Website" name="website" placeholder="http://www.example.com" type="url">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button type="submit" class="btn-outline-light btn-lg btn-block" data-bs-dismiss="alert" aria-label="submit">Add</button>
    </form>
</div>
{% endblock %}