{% extends "header.html" %}

{% block title %}
    Detail
{% endblock %}

{% block main %}
<script></script>
 <h1>Details of Profile<h1></h1>
<div class="section table-responsive">
    <table class="table-bordered table-sm">
        <thead  class="overflow-auto">
            <tr>
                <th>Email</th>
                <th>Date</th>
                <th>Username</th>
                <th>Password</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in details %}
            <tr>
                <div class="container text-center">
                    <div class="row align-items-center">
                        <form action="/delete" method="Post">
                            <div class="col"><td>{{ detail.email}}</td></div>
                            <div class="col"><td>{{ detail.date }}</td><div class="col"></div>
                            <div class="col"><td><input type="hidden" name= 'username' id="username" value= '{{ detail.username }}'>{{ detail.username }}</td><div class="col"></div>
                            <div class="col"><td><input type="hidden" style="-webkit-text-security: circle">{{ decrypt }}</input></td><div class="col"></div>
                            <div class="col"><td><input type="hidden" name= 'url' id="url" value= '{{ detail.url }}'>{{ detail.url }}</input></td><div class="col"></div>
                            <div class="col"><td><button type="submit" class="btn-outline-light btn-lg btn-block" onclick="alertFunction()" data-bs-dismiss="alert" aria-label="submit">Delete</button></td></div>
                        </form>
                    <form action="/update" method="Post">
                    <div class="col"><td><a class="btn-outline-dark btn-lg btn-block" href="/update">Update</a></td></div>
                    </form>
                    </div>
                </div>
            </tr>
            <script>
                function alertfunction() {
                    alert("You are About To Delete This Profile. Are You Sure You Want To Delete?");
                }
            </script>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
