{% extends "header.html" %}

{% block title %}
    Forgot_password
{% endblock %}

{% block main %}

<div  class="overflow-auto">
  <form action="/forgot_password" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email"  pattern="[^ @]*@[^ @]*">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="phone_number" name="phone_number" placeholder="Phone Number" type="tel">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    </div>
      <button type="submit" class="btn-outline-light btn-lg btn-block" data-bs-dismiss="alert" aria-label="submit">Reset</button>
  </form>
</div>


<div id="message">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

{% endblock %}