{% extends "header.html" %}

{% block title %}
    UserName
{% endblock %}

{% block main %}

<div class="overflow-auto">
    <form action="/forgot_username" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" type="text" placeholder="Enter your Email">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn-outline-light btn-lg btn-block" data-bs-dismiss="alert" aria-label="submit">Give Me My Username</button>
        </div>
    </form>
</div>

{% endblock %}