{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<div class="section">

    <h1>Account History</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Type</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ "${:,.2f}".format(stock.price * stock.shares)}}</td>
                <td>{{ stock.Type }}</td>
                <td>{{ stock.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}