{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}


<form action="/sell" method="post">
    <div class="mb-3">
        <select name="symbol" class="custom-select" style="width:200px;">
            <option value="" disable selected hidden>Select Stock</option>
            {% for stock in stocks %}
                <option value="{{ stock.name }}">{{ stock.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="How many shares?" type="number" class="filter"></input>
    </div>
    <button class="btn btn-primary" type="submit">Sell Shares</button>
</form>
{% endblock %}
