/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: "Building";
    font-weight: normal;
    font-style: normal;
    color: #2272FF;
  }
  .navbar {
    position: auto;
    background-color: #00ABE4;
    overflow: hidden;
    float: center;
    font-size: 18px;
}

  h1 {
    text-align: center;
    color: #0;
  }

  body {
    color: #F8F8F9;
    font: "Building";
    padding: 0.5em;
    margin: ;
    background: #021082
  }


  table {
    background-color: "striped dark";
    margin-bottom: 1rem;
    font: "Building";
    font-size: 25px;
    border: ;
    width: 100%;
}

main {
  box-shadow:0 .5rem 1rem;
  background-color: #1d1d1d;
  width: 200;
}

table th,
table td {
    padding: .50rem;
    vertical-align: middle;
    font-size: 25px;

}

tbody tr:nth-of-type(odd) {
  font: "Building";
  background-color: #eaeaea;
  color: #000000;

}

tbody tr:nth-of-type(even) {
  font: "Building";
  color: #eaeaea;

}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}


a {
  color: #2272FF;
}

button {
    padding: 1px;
    font:"Building";
    background: #2272FF;
    background-color: #2272FF;
    color: #2272FF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  ul {
    color: #2272FF;

  }