{% extends "header.html" %}

{% block title %}
    Generate
{% endblock %}

{% block main %}

<div class="overflow-auto">
    <form action="/generate" method="post">
        <div class="mb-3">
            <h1>Lets Generate a Strong Password</h2>
        </div>
        <br>
        <div>
        </div>
        <div class="mb-auto"><h4>Generate a Password with NO SYMBOLS</h4>
            <button type="submit" class="btn-outline-light btn-lg btn-block" data-bs-dismiss="alert" aria-label="submit" name="nosymbol" value="nosymbol">Generate</button>
    </form>
</div>
<br>
<div class="overflow-auto">
    <form action="/generatesymbol" method="post">
        <div class="mb-auto">
            <h4>Generate a Password with SYMBOLS</h4>
            <button type="submit" class="btn-outline-light btn-lg btn-block" data-bs-dismiss="alert" aria-label="submit" name="symbol" value="symbol">Generate</button>
        </div>
    </form>
</div>

{% endblock %}