{% extends "header.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div>
    <h1>Pofiles of Account<h1></h1>
    <div class="section table-responsive">
        <table class="table-bordered table-sm">
            <thead class="overflow-auto">
                <tr>
                    <th>Websites</th>
                    <th>UserName</th>
                </tr>
            </thead>
            <tbody>{{key}}
                {% for profile in profiles %}
                <tr>
                    <form action="/detail" method="Post">
                        <div class="container text-center">
                            <div class="row align-items-center">
                                <div class="col"><td><input type="hidden" name= 'url' id="url" value= '{{ profile.url }}'>{{ profile.url }}</input></td><div class="col"></div>
                                <div class="col"><td><input type="hidden" name= 'username' id="username" value= '{{ profile.username }}'>{{ profile.username }}</td><div class="col"></div>
                                <div class="col"><td><button type="submit" class="btn-outline-dark btn-lg btn-block" data-bs-dismiss="alert" aria-label="submit">Details</button></td></div>
                            </div>
                        </div>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
